<html>
	<head>
		<title>Python-Flask Application</title>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="static/stylesheets/style.css">
	</head>
	
	<body>
		<div class="container">
			
			<div class="header">
				<h3 class="text-muted"><center>Login</center></h3>
			</div>
			
			<div>
				<form action="login" method="post">
					<center>
						Enter username: <input type="text" name="username">
						<br><br>
						Enter password: <input type="password" name="password">
						<br><br>
						<input type="submit" value="Login">
					</center>
				</form>
			</div>
			
		</div>
	</body>
</html>